@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-black
}

.gradient-text {
  background: -webkit-linear-gradient(#ffe300, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}